@use './base/globales' as v;
@use "./base//mixins.scss" as  m;
.about-container{
    background-color: v.$background;
    height: 100vh;
    width: 100%
}
.about-video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    
    
  }
.about-title{
    @include m.telefono{
       color:  v.$color_letra;
       position: fixed; 
        display: flex;
        flex-direction: column;
        top: 30%;
        justify-content: center;
        align-items: center;
    }
    @include m.desktop{
      
        position: fixed; 
        display: flex;
        flex-direction: column;
        top: 40%;
        justify-content: center;
        align-items: center;
        color: v.$color_letra;
        font-size: 1.2rem;
        h1{
            font-size: 4rem;
            &:hover{
                color: white;
                transform: scale(1.2);
                cursor: default;
            }
          
        }
        h3{
            &:hover{
                color: white;
                cursor: default;
            }
        }
    }
}
.about-info{
    position: fixed; /* or absolute */
    top: 45%;
    left: 3%;
    font-size: 1.5rem;
    
     color: v.$color_letra;
    cursor: default;
    &:hover{
        color: white;
    }
}
.about-btn-container{
    @include m.telefono{
        position: fixed; 
        top: 65%;
        left:25%;
    }
    @include m.desktop{

        position: fixed; 
        top: 65%;
        left:45%;
    }
   

}
.about-btn{
    padding: 20px;
    border-radius: 20px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.582);
    &:hover{
        color:black;
        background-color: white;
        cursor: pointer;
    }
}