@use './base/globales' as v;
@use "./base//mixins.scss" as m;

.knowledge-container {
    @include m.telefono{
        background-color: rgba(0, 0, 0, 0.411);
        
        
        height: 100vh;
        width: 100%;
     
        
    }
 @include m.desktop{
    background-color: rgba(0, 0, 0, 0.411);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    h1{
        background-color: rgba(0, 0, 0, 0.568);
        height: 100px;
    }
  
 }
  
    
}


@include m.telefono {
    .knowledge-container>h1 {
        color: v.$color_letra;
        position: relative;
        display: flex;
        flex-direction: column;
        top: 15%;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        position: relative;
        
        top:25%;
       
        &:hover {
            color: white;
            cursor: default;
            

        }
    }
}

@include m.desktop {
    .knowledge-container>h1 {
        color: v.$color_letra;
        position: relative;
        display: flex;
        flex-direction: column;
        top: 10%;
        justify-content: center;
        align-items: center;
        font-size: 3rem;

        &:hover {
            color: white;
            cursor: default;
            
        }
    }

}

.tech-container {
    @include m.telefono {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        top: 30%;
        height: 200px;
        background-color: none;
       
    }

    @include m.desktop {
        overflow: hidden;
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
       
        top: 30%;
        color: v.$color_letra;
        background-color: rgba(0, 0, 0, 0.568);
        height: 400px;
        &:hover{
            cursor: default;
        }
       

    }

}
















.knowledge-background {
    @include m.telefono{
        object-fit: cover;
        width: 100%;
        height: 155vh;
        position: absolute;
        z-index: -1;
    }
    @include m.desktop{
        object-fit: cover;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }
    @include m.desktopxl{
        object-fit: cover;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }
  

}


.github-icon{
 height: 110px;
 width: auto;
 color: black;
 border-radius: 120px;
   
}
.icon-text{
    
    color: white;
    text-align: center;
    font-size: 2rem;
   p{
    &:hover{
        color: rgb(194, 127, 3);
    }
   }

}