@use './base/globales' as v;
@use "./base//mixins.scss" as m;

.knowledge-container {

    background-color: v.$background;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    
}


@include m.telefono {
    .knowledge-container>h1 {
        color: v.$color_letra;
        position: relative;
        display: flex;
        flex-direction: column;
        top: 15%;
        justify-content: center;
        align-items: center;
        font-size: 3rem;

        &:hover {
            color: white;
            cursor: default;

        }
    }
}

@include m.desktop {
    .knowledge-container>h1 {
        color: v.$color_letra;
        position: relative;
        display: flex;
        flex-direction: column;
        top: 10%;
        justify-content: center;
        align-items: center;
        font-size: 3rem;

        &:hover {
            color: white;
            cursor: default;

        }
    }

}

.tech-container {
    @include m.telefono {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: fixed;
        top: 30%;
        img{
            height: 80px;

        }
    }

    @include m.desktop {
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        top: 19%;
        color: v.$color_letra;

        cursor: default;
        img{
            height: auto;
            &:hover{
                transform: scale(1.1);
            }
        }

    }

}

.github {
    @include m.telefono {
        height: 100%;
        width: 88%;
        background-color: white;
        border-radius: 20px;

        left: 9%;


    }

    @include m.desktop {
        background-color: white;
        border-radius: 20px;
        width: 6%;
    }

}

.js {
    border-radius: 20px;
}

.mongoIcon {
    @include m.telefono {
        height: 125px;
        width: 90%;
        border-radius: 20px;
    }

    @include m.desktop {
        height: 125px;
        width: 6.1%;
        border-radius: 20px;
    }
}


.reduxIcon {
    @include m.telefono {
        height: 125px;
        width: 90%;
        border-radius: 20px;
    }

    @include m.desktop {
        height: 125px;
        width: 6.1%;
        border-radius: 20px;
    }


}

.knowledge-projects {
    @include m.telefono {
        position: fixed;
        top: 75%;
        left: 25%;
        color: v.$color_letra;
        &:hover{
            color: white;
        }
    }

    @include m.desktop {
       
        img{
            
            width: 450px;
            &:hover{
                transform: scale(1.2);
            }

        }
        position: fixed;
        top: 55%;
        left: 40%;
       
       
     
        color: v.$color_letra;
        cursor: default;
        font-size: 2rem;

        &:hover {
            color: white;
        }
    }




}






.knowledge-video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;

}

.image-container{
    @include m.telefono{
        position: fixed;
        
        top: 85%;
        left: 5%;
        display: flex;
        gap: 20px;
        overflow: hidden;
        img{
            width: 150px;
            border-radius: 20px;
        }
    }
    @include m.desktop{
        position: fixed;
        top: 65%;
        left: 20%;
        display: flex;
        gap: 100px;
        
        
        img{
            width: 600px;
            border-radius: 20px;
        }
        .image1{
            &:hover{
                transform: scale(1.2);
                cursor: pointer;
            }
        }
        .image2{
            &:hover{
                transform: scale(1.2);
                cursor: pointer;
            }
        }
       
    }
 
}

