@use "./base/globales" as v;
@use './base//mixins.scss' as m;

.project-container {
    @include m.telefono {
        background-color: rgba(0, 0, 0, 0.411);
        height: 100vh;
        width: 100%;
       overflow: hidden;

        h1 {
            color: v.$color_letra;
            position: fixed;
            display: flex;
            top: 25%;
            left: 19%;
            text-align: center;
            justify-content: center;

            &:hover {
                color: white;
                transform: scale(1.2);
            }

        }
     
    }

    @include m.desktop {
        background-color: rgba(0, 0, 0, 0.411);
        height: 100vh;
        width: 100%;

        h1 {
            color: v.$color_letra;
            position: fixed;
            display: flex;
            top: 15%;
            left: 42%;
            text-align: center;
            justify-content: center;
            font-size: 3.5rem;

            &:hover {
                color: white;
                transform: scale(1.2);
            }

        }
    }

    @include m.desktopxl {
        background-color: rgba(0, 0, 0, 0.411);
        height: 100vh;
        width: 100%;
    }

}

.project-background {
    @include m.desktop {
        object-fit: cover;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }

    @include m.desktopxl {
        object-fit: cover;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }

}

.projects-container {
    @include m.telefono{
       
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        position: relative;
        
       
        img {
           
           position: fixed;
            top: 35%;
            height: 100px;
            width: auto;
            
    
          
        }
    }
    @include m.desktop{
        position: fixed;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    top: 30%;
    left: 15%;

    img {
        position: static;
        height: 350px;
        width: auto;

        &:hover {
            cursor: pointer;
        }
    }
    }
    @include m.desktopxl{
        position: fixed;
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-items: center;
        top: 30%;
        left: 15%;
    
        img {
            height: 350px;
            width: auto;
            transition: transform .2s;
            display: grid; 
            grid-template-columns: repeat(2, 1fr);
            object-fit: contain;
    
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                
            }
        }
    }
   
}

.project-text {
    @include m.telefono{
        h3 {
            position: fixed;
            top: 46%;
            text-align: center;
            color: white;
           
            font-weight: bold;
        }
        p {
    
            color: white;
            height: auto;
            position: fixed;
            width: 180px;
            top: 49%;
            font-weight: 150;
            cursor: default;
            line-height: 1.4;
            text-shadow: 2px 2px 5px black;
            
        }

    }
    @include m.desktop{
    
        h3 {
            position: relative;
            top: 2%;
            text-align: center;
            color: white;
            font-size: 2rem;
            font-weight: bold;
        }
    
        p {
            position: relative;
            top:5%;
            color: white;
            font-size: 1rem;
    
    
            font-weight: 150;
            cursor: default;
            line-height: 1.4;
            text-shadow: 2px 2px 5px black;
            height: 550px;
            width: 690px;
        }
    
        height: 550px;
        background-color: rgba(0, 0, 0, 0.404);
    }
    @include m.desktopxl{
        h3 {
            text-align: center;
            color: white;
            font-size: 2rem;
            font-weight: bold;
        }
    
        p {
    
            color: white;
            font-size: 1rem;
    
    
            font-weight: 150;
            cursor: default;
            line-height: 1.4;
            text-shadow: 2px 2px 5px black;
            height: 550px;
            width: 690px;
        }
    
        height: 550px;
        background-color: rgba(0, 0, 0, 0.404);
    }
   
    

}